.\ConvenientChests\Framework\UserInterfacService\ChestOverlay.cs merge=ours
.\ConvenientChests\Framework\UserInterfacService\InventoryOverlay.cs merge=ours
.\ConvenientChests\ConvenientChests.csproj merge=ours